version: 2
updates:
  - package-ecosystem: cargo
    directory: "/"
    target-branch: "develop"
    schedule:
      interval: monthly
    open-pull-requests-limit: 10
    commit-message:
      prefix: "chore:"
    labels:
      - dependabot
    groups:
      cargo-dependencies:
        patterns:
          - "*"
  - package-ecosystem: github-actions
    directory: "/"
    target-branch: "develop"
    schedule:
      interval: monthly
    open-pull-requests-limit: 10
    labels:
      - dependabot
    groups:
      github-actions:
        patterns:
          - "*"
