[package]
edition = "2018"
name = "beancount-language-server"
version = "0.1.0"
authors = ["Brian Ryall <polarmutex@users.noreply.github.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/polarmutex/beancount-language-server"
keywords = []
description = """
A language server for the beancount language
"""

[badges]
maintenance = { status = "experimental" }

[dependencies]
anyhow = "1.0"
bytes = "1.1"
chrono = "0"
clap = "2.33"
dashmap = "4.0"
log4rs = "1"
log = "0.4"
lspower = "1.1"
regex = "1"
ropey = "1.2"
thiserror = "1.0"
serde = "1.0"
serde_json = "1.0"
shellexpand = "2.0.0"
linked-list = "0.0.3"
tokio = { version = "1.13", features = ["io-std", "macros", "process", "sync", "rt-multi-thread"]}
tree-sitter = "0.20"
tree-sitter-beancount = "2.0.0"
