[package]
name = "beancount-language-server"
version = "1.2.5"
rust-version = "1.59"
edition = "2021"
authors = ["Brian Ryall <polarmutex@users.noreply.github.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/polarmutex/beancount-language-server"
keywords = ["beancount", "lsp"]
description = """
A language server for the beancount language
"""

[dependencies]
anyhow = "1.0"
beancount-language-server-treesitter-utils = { version = "0.1.0", path = "../tree-sitter-utils" }
bytes = "1.3"
chrono = { version = "0", default-features = false, features = ["clock"] }
clap = "3.2"
dashmap = "5.3"
glob = "0.3"
log = "0.4"
tower-lsp = "0.17.0"
regex = "1"
ropey = "1.5"
thiserror = "1.0"
serde = "1.0"
serde_json = "1.0"
shellexpand = "2.1.2"
linked-list = "0.0.3"
tokio = { version = "1.23", features = ["io-std", "macros", "process", "sync", "rt-multi-thread"]}
tracing = "0.1.37"
tracing-appender = "0.2.0"
tracing-subscriber = {version = "0.3.16", features = ["env-filter", "tracing-log"]}
tracing-tree = "0.2.2"
tree-sitter = "0.20"
tree-sitter-beancount = "=2.0.0"

[package.metadata.release]
tag = true
