[package]
name = "beancount-language-server"
version = "1.3.0"
edition = "2021"
authors = ["Brian Ryall <polarmutex@users.noreply.github.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/polarmutex/beancount-language-server"
keywords = ["beancount", "lsp"]
description = """
A language server for the beancount language
"""

[dependencies]
anyhow = "1.0"
bytes = "1.3"
chrono = { version = "0", default-features = false, features = ["clock"] }
clap = "4"
crossbeam-channel = "0.5.6"
dashmap = "5.3"
glob = "0.3"
lsp-server = "0.6"
lsp-types = "0.94.0"
regex = "1"
ropey = "1.5"
thiserror = "1.0"
serde = "1.0"
serde_json = "1.0"
shellexpand = "3.0.0"
linked-list = "0.0.3"
tracing = "0.1.37"
tracing-appender = "0.2.0"
tree-sitter = "0.20"
tree-sitter-beancount = "=2.0.0"
threadpool = "1.8.1"

[dependencies.tracing-subscriber]
version = "0.3.16"
default_features = false
features = [
    "env-filter",
    "fmt",
    "smallvec",
    "std",
    "tracing-log",
]

[package.metadata.release]
tag = true
