[package]
name = "beancount-language-server"
version.workspace = true
edition.workspace = true
license.workspace = true
readme = "README.md"
repository = "https://github.com/polarmutex/beancount-language-server"
keywords = ["beancount", "lsp"]
description = """
A language server for the beancount language
"""

[dependencies]
anyhow = "1.0"
async-lsp = { version = "0", features = ["tokio"] }
bytes = "1.3"
chrono = { version = "0", default-features = false, features = ["clock"] }
clap = "4"
crossbeam-channel = "0.5.11"
dashmap = "5.3"
glob = "0.3"
itertools = "0"
regex = "1"
ropey = "1.6"
thiserror = "1.0"
serde = "1.0"
serde_json = "1.0"
shellexpand = "3.0.0"
linked-list = "0.0.3"
tokio = { version = "1.27.0", features = ["full"] }
tower = "0.4.13"
tracing = "0.1.40"
tracing-appender = "0.2.3"
tree-sitter = "0.20"
tree-sitter-beancount = "2"
#tree-sitter-beancount = {git = "https://github.com/polarmutex/tree-sitter-beancount.git", branch="devel"}
threadpool = "1.8.1"

[dependencies.tracing-subscriber]
version = "0.3.18"
default_features = false
features = [
    "env-filter",
    "fmt",
    "smallvec",
    "std",
    "tracing-log",
]

[dev-dependencies]
env_logger = "0.10.2"
insta = { version = "1.34.0", features = ["yaml"] }
test-log = { version = "0.2.14", features = ["trace"] }

[package.metadata.release]
tag = true

[target.'cfg(windows)'.dependencies]
tokio-util = {version = "0.7.9", features = ["compat"]}
