name: Build & Test

on:
    workflow_call:
        inputs:
            run-test:
                default: true
                type: boolean

jobs:
    build:
        name: ${{ matrix.platform }} (${{ matrix.target }}) (${{ matrix.os }})
        runs-on: ${{ matrix.os }}
        timeout-minutes: 40
        strategy:
            fail-fast: false
            matrix:
                platform:
                    - linux-arm64
                    - linux-x64
                    - windows-arm64
                    - windows-x64
                    - macos-arm64

                include:
                    # When adding a new `target`:
                    # 1. Define a new platform alias above
                    # 2. Add a new record to the matrix map in `crates/cli/npm/install.js`
                    - { platform: macos-arm64, target: aarch64-apple-darwin, os: macos-15 }
                    - { platform: windows-arm64, target: aarch64-pc-windows-msvc, os: windows-11-arm }
                    - { platform: linux-arm64, target: aarch64-unknown-linux-gnu, os: ubuntu-24.04-arm }
                    - { platform: windows-x64, target: x86_64-pc-windows-msvc, os: windows-2025 }
                    - { platform: linux-x64, target: x86_64-unknown-linux-gnu, os: ubuntu-24.04 }
                    # Extra features

        env:
            CARGO_TERM_COLOR: always
            RUSTFLAGS: -D warnings

        defaults:
            run:
                shell: bash

        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Set up Rust
              uses: actions-rust-lang/setup-rust-toolchain@v1
              with:
                  target: ${{ matrix.target }}

            - name: Build target
              run: cargo build -p beancount-language-server --release --target='${{ matrix.target }}' --features='${{ matrix.features }}'

            - name: Run main tests
              if: inputs.run-test && !matrix.no-run
              run: cargo test --target='${{ matrix.target }}' --features='${{ matrix.features }}'

            - name: Upload CLI artifact
              if: "!matrix.no-run"
              uses: actions/upload-artifact@v6
              with:
                  name: beancount-language-server.${{ matrix.platform }}
                  path: target/${{ matrix.target }}/release/beancount-language-server${{ contains(matrix.target, 'windows') && '.exe' || '' }}
                  if-no-files-found: error
                  retention-days: 7
