name: Release
permissions:
    "contents": "write"

on:
    workflow_dispatch:
    push:
        tags:
            - "[0-9]+.[0-9]+.[0-9]+"

jobs:
    build:
        uses: ./.github/workflows/build.yml
        with:
            run-test: false

    release:
        name: Release on GitHub
        runs-on: ubuntu-latest
        needs: build
        permissions:
            id-token: write
            attestations: write
            contents: write
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Download build artifacts
              uses: actions/download-artifact@v7
              with:
                  path: artifacts

            - name: Display structure of downloaded files
              run: ls -lR
              working-directory: artifacts

            - name: Prepare release artifacts
              run: |
                  mkdir -p target
                  for platform in $(cd artifacts; ls | sed 's/^beancount-language-server\.//'); do
                    exe=$(ls artifacts/beancount-language-server.$platform/beancount-language-server*)
                    gzip --stdout --name $exe > target/beancount-language-server-$platform.gz
                  done
                  rm -rf artifacts
                  ls -l target/

            - name: Generate attestations
              uses: actions/attest-build-provenance@v3
              with:
                  subject-path: |
                      target/beancount-language-server-*.gz

            - name: Create release
              run: |-
                  gh release create $GITHUB_REF_NAME \
                  target/beancount-language-server-*.gz \
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    crates_io:
      name: Publish packages to Crates.io
      runs-on: ubuntu-latest
      environment: crates
      permissions:
        id-token: write
        contents: read
      needs: release
      steps:
        - name: Checkout repository
          uses: actions/checkout@v6

        - name: Set up Rust
          uses: actions-rust-lang/setup-rust-toolchain@v1

        - name: Set up registry token
          id: auth
          uses: rust-lang/crates-io-auth-action@v1

        - name: Publish crates to Crates.io
          uses: katyo/publish-crates@v2
          with:
            registry-token: ${{ steps.auth.outputs.token }}
